
name: CI/CD Pipeline

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x]

    steps:
      - uses: actions/checkout@v3
      
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'
          cache-dependency-path: './project/package-lock.json'
          
      - name: Install Dependencies
        working-directory: ./project
        run: npm ci

      - name: Lint Code
        working-directory: ./project
        run: npm run lint

      - name: Build Project
        working-directory: ./project
        run: npm run build
